.body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    height: 425px;
    width: 600px;
    margin-top: 75px;
}
.hero-cont {
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}
.quote-box {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 25px;
    width: 500px;
    height: 225px;
}
.hero {
    margin-bottom: 0px;
}
.button {
    border: 1px solid white;
    color: white;
    background-color: #222;
    cursor: pointer
}
.hero, .hero-subtext, .quote {
    color: white;
} 
.main-container {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .main-container::after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }